@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  background-color: none;
}
::-webkit-scrollbar-track {
  background: #FF004D; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: none; 
}
::-webkit-scrollbar {
  width: 10px;
}